header {
    display: flex;
    gap: 1.5rem;
    justify-content: flex-end;
    align-items: center;
}

header svg {

    height: 35px;
}

header img {
    border-radius: 50%;
}

main .contaner {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 0 17px; */
    padding-top: 50px;
    height: 73vh;
}


main h2 {
    font-size: 3rem;
    color: rebeccapurple;
    margin-bottom: 15px;
}

main .iput-serch {
    border: 2px solid blue;
    border-radius: 30px;
    padding: 0 8px;
    width: fit-content;
    margin-bottom: 20px;
}

main .iput-serch input {
    border: none;
    width: 18rem;
    height: 1.5rem;
}

main .two-buttons a {
    border: 2px solid red;
    padding: 8px;
    text-decoration: none;
    font-weight: bold;

}

footer p {
    margin-bottom: 5px;
    font-size: 15px;
}
.group-links {
    display: flex;
    justify-content: space-between;
    
}
.group-one,
.group-two {
    display: flex;
    gap: 22px;
}

.group-links a {
    color: #a79c9c;
    text-decoration: none;
}